{
    "plugins": [
        "fiori-custom"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:fiori-custom/fioriToolsDefault"
    ],
    "rules": {
        "curly": "off",
        "linebreak-style": "off",
        "fiori-custom/sap-no-localstorage": "off",
        "fiori-custom/sap-no-hardcoded-url": "warn"
    },
    "env": {
        "node": true,
        "browser": true,
        "es6": true,
        "jest": true,
        "jquery": false
    },
    "parserOptions": {
        "ecmaVersion": 2022
    },
    "ignorePatterns": [
        "dist/**",
        "webapp/localService/**",
        "webapp/test/**"
    ]
}